MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/openskilloracle
PORT=5000
NODE_ENV=production
FRONTEND_URL=https://openskills-frontend-q8dv50dl6-nishitbhalerao-7784s-projects.vercel.app
STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
CONTRACT_ID=CDRDOQLK7BHE2SCWRVNPVJ5OMMTM7RYZP6OKI77JWFQDDP7NWL5GHS2D
ORACLE_SECRET_KEY=SBUUTGZ5YQAHMVQMKQIEFGTV3CMHGFQYHMAQEHJGRQNYBFBFVMXNNK4L
GITHUB_TOKEN=ghp_your_github_personal_access_token_here
